/* css styles */

/*control size of logo on bootstrap nav-bar logo*/
.navbar-logo {
  height: 80px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}
