/* css styles */

/*control size of logo on bootstrap nav-bar logo*/
.navbar-logo {
  height: 50px !important;
  width: 70px !important;
  max-width: unset !important;
  max-height: unset !important;
}

/* for banner images on middle of page*/

.hero {
  width: 350px;
  height: 450px;
  margin-left: auto;
  /* margin-right: auto; */
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img  {
  width: 450px;
  height: 425px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg-news {
  font-weight: bold;
  background-color: red;
}
